<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <link rel="stylesheet" href="./css/register.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/material-design-iconic-font.css">
    <link rel="stylesheet" href="./css/material-design-iconic-font.min.css">
</head>
<body>
    <div class="container">
        <div class="wrapper">
            <h1 class="title">Registration Page</h1>
            <span id="invalid_date"></span>
            <form action="/" class="site-form">
                <label>
                    <span class="zmdi zmdi-account"></span>
                    <input type="text" id="usernameInput" placeholder="Your name" required>
                </label>
                <label>
                    <span class="zmdi zmdi-lock"></span>
                    <input type="password" id="passwordInput" placeholder="Password" required>
                    <button class="zmdi zmdi-eye" type="button" id="showButton"></button>
                </label>
                <label class="custom-upload">
                    <span class="zmdi zmdi-upload"></span>
                    <span class="file-name">click upload a avatar picture</span>
                    <input type="file" id="uploadInput" accept="image/*">
                </label>
                <input type="submit" value="Register" id="submitButton">
            </form>
            <a href="./login.html" class="sign-link">I am already member</a>
            <img src="img/signup-image.jpg" alt="signup-image" class="signup-image">
        </div>
    </div>
    <script src="./js/util.js"></script>
    <script src="./js/register.js"></script>
</body>
</html>